.carousel {
  max-width:900px;
  max-height:500px;
  margin: auto;
}

@media (max-height: 100%) {
  .carousel {
    max-width: fit-content;
    max-height: fit-content;
    margin: auto;
  }
}

img {
  max-width: fit-content;
  max-height: fit-content;
  display: flex;
  margin: auto;
}